[submodule "packages/limbo-template-parser"]
	path = packages/limbo-template-parser
	url = https://github.com/Liuyll/limbo-template-parser
[submodule "packages/limbo-test"]
	path = packages/limbo-test
	url = https://github.com/liuyll/limbo-test
